<div ng-controller="HomeController" id="home-page">
	<div class="grid" style="position:relative;">
		<div class="col-4-12 push-1-12">
			<img src="assets/img/iphone-home.png" width="auto" height="500" />
		</div>
		<div class="col-6-12 home-display-text-col" style="">
			<div class="home-display-title">
				Zone in, cash out
			</div>
			<div class="home-display-body">
				Zone is a small team of college students dedicated to keeping students eyes off their phones and on their books.
			</div>
		</div>
	</div>
</div>