@purple: rgba(140,84,133,.8);
@mobile-width: 767px;
@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas/BEBAS___-webfont.eot');
    src: url('fonts/bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas/BEBAS___-webfont.woff2') format('woff2'),
         url('fonts/bebas/BEBAS___-webfont.woff') format('woff'),
         url('fonts/bebas/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/bebas/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museosans100';
    src: url('fonts/museo-sans/museosans-100-webfont.eot');
    src: url('fonts/museo-sans/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-sans/museosans-100-webfont.woff') format('woff'),
         url('fonts/museo-sans/museosans-100-webfont.ttf') format('truetype'),
         url('fonts/museo-sans/museosans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museosans300';
    src: url('fonts/museo-sans/museosans-300-webfont.eot');
    src: url('fonts/museo-sans/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-sans/museosans-300-webfont.woff') format('woff'),
         url('fonts/museo-sans/museosans-300-webfont.ttf') format('truetype'),
         url('fonts/museo-sans/museosans-300-webfont.svg#museo_sans100') format('svg');
    font-weight: normal;
    font-style: normal;

}
.header {

	width:100%;
	padding-top: 5px;
	position: fixed;
	top:0;
	background-color: rgba(0,0,0,.5);
	z-index: 1000;
	

	.nav-btn-col {
		font-family: 'museosans100';
		font-size: 16px;
		border: none;
		background: none;
		color: white;
		padding-top: 18px
	}
	#bp-link {
		color: white;
		border: 1px solid white;
		text-decoration: none;
		padding: 10px;
	}
}
#home-page {
	background: url(/assets/img/landing_bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color:white;
	
	.landing-content {
		padding-top: 80px;
	}
	.home-display-title {
		font-size: 60px;
		font-family: 'museosans100';
		margin-bottom: 20px;
	}
	.home-display-title-2 {
		font-size: 40px;
		font-family: 'museosans100';
		margin-bottom: 20px;
	}
	.home-display-body-2 {
		font-size: 20px;
		font-family: 'museosans100';
		margin-bottom: 20px;
	}
	.home-display-body {
		font-size: 26px;
		font-family: 'museosans100';
	}
	.home-display-text-col {
		@media (min-width: @mobile-width) {
			position: absolute;
  			top: 50%;
  			transform: translateY(-50%);
		}
		
	}
	.landing-about{
		padding-top: 20px;
		padding-bottom: 20px;
		color: black;
		margin-top: 40px;
		width: 100%;
		background-color: white;
	}
	.footer {
		width: 100%;
		padding: 20px 0 20px 0;
		background-color: #282828;
		color: white;
		font-size: 18px;
		font-family: 'museosans100';
	}
		
}
